#NEXT_PUBLIC_SUPABASE_URL=https://bcduqntolfugktxfocqz.supabase.co
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_DEFAULT_KEY=sb_publishable_8toUYKTtr0f0DcvtWT6SEQ_e3OYUmPZ
#NEXT_PUBLIC_SUPABASE_URL=https://bcduqntolfugktxfocqz.supabase.cogit
# Gemini API Key (for server-side AI operations)
# Get this from Google AI Studio: https://aistudio.google.com
GEMINI_API_KEY=AIzaSyCdrhporKHMqp_1roKQX-5ePs0THmFZ7Kwgit 