MONGODB_URI=mongodb+srv://golug841311_db_user:Gu%4012345@cluster0.mkb2ygz.mongodb.net/mindscape?retryWrites=true&w=majority
JWT_SECRET=Mindscape@2026#Secure$Key
GEMINI_API_KEY=AIzaSyDpeIUXRsIeJf153mOP0K4TX6QKmNuxBIU